@layer base {
    ul.checkmark-list {
        @apply flex flex-col gap-4;

        list-style-type: none;
        padding-left: 0;
    }

    ul.checkmark-list > li {
        position: relative;
        padding-left: 2.75rem;

        &::before {
            content: "";
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 1.5rem;
            height: 1.5rem;
            margin-top: -0.5em;
            display: block;
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMTNMMTEuNjY2NyAxNS42NjY3TDE3IDEwLjMzMzNNMjUgMTNDMjUgMTQuNTc1OSAyNC42ODk2IDE2LjEzNjMgMjQuMDg2NiAxNy41OTIyQzIzLjQ4MzUgMTkuMDQ4MSAyMi41OTk2IDIwLjM3MSAyMS40ODUzIDIxLjQ4NTNDMjAuMzcxIDIyLjU5OTYgMTkuMDQ4MSAyMy40ODM1IDE3LjU5MjIgMjQuMDg2NkMxNi4xMzYzIDI0LjY4OTYgMTQuNTc1OSAyNSAxMyAyNUMxMS40MjQxIDI1IDkuODYzNzEgMjQuNjg5NiA4LjQwNzggMjQuMDg2NkM2Ljk1MTg5IDIzLjQ4MzUgNS42MjkwMiAyMi41OTk2IDQuNTE0NzIgMjEuNDg1M0MzLjQwMDQyIDIwLjM3MSAyLjUxNjUgMTkuMDQ4MSAxLjkxMzQ1IDE3LjU5MjJDMS4zMTAzOSAxNi4xMzYzIDEgMTQuNTc1OSAxIDEzQzEgOS44MTc0IDIuMjY0MjggNi43NjUxNiA0LjUxNDcyIDQuNTE0NzJDNi43NjUxNiAyLjI2NDI4IDkuODE3NCAxIDEzIDFDMTYuMTgyNiAxIDE5LjIzNDggMi4yNjQyOCAyMS40ODUzIDQuNTE0NzJDMjMuNzM1NyA2Ljc2NTE2IDI1IDkuODE3NCAyNSAxM1oiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
            mask-size: contain;
            background-color: currentcolor;
        }
    }
}
